body {
    padding: 10px;
}

a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

a img {
    width: 15px;
    margin-right: 5px;
}